/* Make grid cards fully clickable */
.md-typeset .grid.cards > ul > li {
  position: relative;
}

/* Make the last link (arrow link) stretch to cover the entire card */
.md-typeset .grid.cards > ul > li > p:last-child a {
  position: static;
}

.md-typeset .grid.cards > ul > li > p:last-child a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Ensure card hover effect works */
.md-typeset .grid.cards > ul > li:hover {
  cursor: pointer;
}
